<div class="modal" id="share-modal">
	<div class="modal__content">
		<ul class="social">
			<li class="social__item">
				<a class="social__link" href="#" target="_blank">
					<img src="assets/images/share/facebook-icon.svg" alt="facebook">
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="#" target="_blank">
					<img src="assets/images/share/twitter-icon.svg" alt="twitter">
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="#" target="_blank">
					<img src="assets/images/share/vk-icon.svg" alt="vk">
				</a>
			</li>
			
			<li class="social__item">
				<a class="social__link" href="#" target="_blank">
					<img src="assets/images/share/copy-icon.svg" alt="copy">
				</a>
			</li>
		</ul>

		<button class="modal__close" type="button">
			<img src="assets/images/close-modal.svg" alt="закрыть">
		</button>
	</div> <!-- / modal__content-->
</div> <!-- / modal-->